@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
/* ---- font-family: 'Plus Jakarta Sans', sans-serif; ---- */
/* ----font-family: 'Inconsolata', monospace;---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 4.2rem;
  font-weight: 900;
  color: rgb(49, 47, 58);
}

h2 {
  font-family: "Inconsolata", monospace;
  font-size: 3.7rem;
  font-weight: 900;
  color: rgb(49, 47, 58);
}

h3 {
  font-family: "Inconsolata", monospace;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(49, 47, 58);
}

h4 {
  font-family: "Inconsolata", monospace;
  font-size: 2.7rem;
  font-weight: 600;
  color: rgb(49, 47, 58);
}

body {
  width: 100%;
  background-color: rgb(254, 240, 229);
  /* ----------------------------------------------- empieza MEDIA QUERIES */
  /*  mobile */
  /* tablet */
}
@media screen and (max-width: 350px) {
  body h1 {
    font: 2.6rem;
  }
  body h2 {
    font-size: 2.4rem;
  }
  body h3 {
    font-size: 2.3rem;
  }
  body h4 {
    font-size: 2.3rem;
  }
  body .logo {
    font-size: 3rem;
  }
  body .container {
    margin: auto;
  }
  body .col {
    margin: auto;
  }
}
@media screen and (min-width: 351px) and (max-width: 990px) {
  body h2 {
    font-size: 3rem;
  }
  body h3 {
    font-size: 2.5rem;
  }
  body h4 {
    font-size: 2rem;
  }
}

.container-animaciones {
  width: 100%;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.container-animacioneshover {
  animation: cambioTamaño 2s;
}

footer {
  background-color: rgb(198, 155, 123);
  height: 65px;
  display: flex;
  justify-content: space-between;
}
footer .copyright {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
}
footer .copyright .copyright-item {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(254, 240, 229);
}
footer .redsocial-container {
  width: 25%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
footer .redsocial-container a .redsocial-item {
  height: 3rem;
}

header nav div .logo {
  color: rgb(198, 155, 123);
  font-size: 4rem;
  text-decoration: none;
}
header nav div .logo:hover {
  color: rgb(254, 240, 229);
}
header nav div div div .nav-link {
  font-size: 2rem;
}

.container-carousel {
  width: 60%;
  margin: auto;
}

.container {
  margin: 20px auto;
  width: 100%;
}
.container .row {
  margin: auto;
}
.container .row .col {
  margin: auto;
}
.container .gallery-imagen {
  width: 80%;
  height: 80%;
  object-fit: contain;
  -webkit-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  gap: 10px;
  overflow: hidden;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
