@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
/* ---- font-family: 'Plus Jakarta Sans', sans-serif; ---- */
/* ----font-family: 'Inconsolata', monospace;---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 4.2rem;
  font-weight: 900;
  color: rgb(49, 47, 58);
}

h2 {
  font-family: "Inconsolata", monospace;
  font-size: 3.7rem;
  font-weight: 900;
  color: rgb(49, 47, 58);
}

h3 {
  font-family: "Inconsolata", monospace;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(49, 47, 58);
}

h4 {
  font-family: "Inconsolata", monospace;
  font-size: 2.7rem;
  font-weight: 600;
  color: rgb(49, 47, 58);
}

body {
  width: 100%;
  background-color: white;
  /* ----------------------------------------------- empieza MEDIA QUERIES */
  /*  mobile */
}
@media screen and (max-width: 350px) {
  body {
    /* tablet */
  }
  body h1 {
    font: 2.6rem;
  }
  body h2 {
    font-size: 2.4rem;
  }
  body h3 {
    font-size: 2.3rem;
  }
  body h4 {
    font-size: 2.3rem;
  }
  body .logo {
    font-size: 3rem;
  }
  body .container {
    margin: auto;
  }
  body .col {
    margin: auto;
  }
  body .container-carousel {
    width: 100%;
  }
}
@media screen and (max-width: 350px) and (min-width: 351px) and (max-width: 990px) {
  body h2 {
    font-size: 3rem;
  }
  body h3 {
    font-size: 2.5rem;
  }
  body h4 {
    font-size: 2rem;
  }
  body .container-carousel {
    width: 100%;
  }
}

.marcas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.animaciones {
  padding: 20px;
  text-align: center;
  background-color: rgb(43, 41, 50);
}
.animaciones .animaciones-letras {
  color: rgb(255, 248, 243);
  margin: 10px auto;
}

.animaciones-letras:hover {
  color: rgb(198, 155, 123);
}

.footer {
  background-color: rgb(43, 41, 50);
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer .copyright {
  width: 330px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.footer .copyright .copyright-item {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(255, 248, 243);
}
.footer .redsocial-container {
  width: 330px;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
.footer .redsocial-container a .redsocial-item {
  height: 4rem;
  background-color: rgb(255, 248, 243);
  padding: 5px;
}

header .navbar .container-fluid .logo {
  color: rgb(255, 248, 243);
  font-size: 3.1rem;
  text-decoration: none;
}
header .navbar .container-fluid .logo:hover {
  color: rgb(198, 155, 123);
}
header .navbar .container-fluid div div .nav-link {
  font-size: 1.7rem;
}

.container-carousel {
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 0px -24px 93px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -24px 93px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -24px 93px 8px rgba(0, 0, 0, 0.75);
}

.container {
  margin: 20px auto;
  width: 100%;
}
.container .row {
  margin: 5px;
}
.container .row .col {
  margin: auto;
  text-align: center;
}
.container .gallery-imagen {
  width: 80%;
  object-fit: cover;
  -webkit-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  gap: 10px;
  overflow: hidden;
  margin: 10px;
}

.marcas {
  margin: 30px auto;
  background-color: rgb(43, 41, 50);
}
.marcas .marcas-item {
  margin: 20px;
  flex: wrap;
}
.marcas .marcas-item .marca-imagen {
  width: 270px;
}

.damas-imagen {
  width: 50%;
  -webkit-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  gap: 10px;
}

.contenedorItemTurnos {
  width: 90vw;
  margin: auto;
}

.itemTurno {
  margin: 10px;
  min-height: 70px;
  background-color: rgba(68, 218, 63, 0.342);
  border-radius: 50px;
  text-align: center;
}

.whatsappTurnos {
  width: 70px;
  height: 70px;
}

.contenedorNosotros {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contenedorNosotros-item {
  text-align: center;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
}

.imagenNosotros {
  -webkit-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
  box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
}

/*# sourceMappingURL=style.css.map */
