.footer{
    background-color: map-get($footer , bg-footer );
    display: map-get($footer , display );
    flex-wrap: wrap-reverse;
    justify-content: map-get($footer , justify-content );
    .copyright{
        width: 330px;
        margin: 10px auto;
        display: map-get($footer , display );
        justify-content: center;
        
        .copyright-item{
            font-family:'Plus Jakarta Sans', sans-serif;
            font-size: map-get($footer , font-size );
            font-weight: 300;
            color: map-get($footer , color);
            
        }
    }
    .redsocial-container{
          width: 330px;
          display: map-get($footer , display );
          justify-content: map-get($footer , justify-content );
          margin: 10px auto;
          
        a{
            .redsocial-item-facebook{
                height: 4rem;
                padding: 5px;
                border-radius: 8px;
                background-color: rgb(48, 48, 254);
                
            }
            .redsocial-item-instagram{
                height: 4rem;
                padding: 5px;
                border-radius: 8px;
                background-color: rgb(192, 48, 12);
            }
            .redsocial-item-whatsapp{
                height: 4rem;
                padding: 5px;
                border-radius: 8px;
                background-color: rgb(30, 174, 30);
            }
        }
        
    }
}