.footer{
    background-color: nth($colores, 2 );
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .copyright{
        width: 330px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        
        .copyright-item{
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 1.6rem;
            font-weight: 300;
            color: nth($colores , 4 );
        }
    }
    .redsocial-container{
          width: 330px;
          display: flex;
          justify-content: space-around;
          margin: 10px auto;
        a{
            .redsocial-item{
                height: 4rem;
            }
        }
        
    }
}