.container{
    margin: 20px auto;
    width: 100%;
    .row{
        margin: 5px;
        .col{
            margin: auto;
            text-align: center; 
        }
    }
    .gallery-imagen {  
        width: 80%;
        object-fit: cover;   
        -webkit-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
        box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
        gap: 10px;
        overflow: hidden;
        margin: 10px;
    }
}

