header{ 
    nav{
        div{
            .logo{
                    color: nth($colores, 2 );
                    font-size: 3.5rem;
                    text-decoration: none;
                    &:hover{
                        color: nth($colores , 1 );
                    }
            }
            div{
                div{
                    .nav-link{
                        font-size: 2rem;
                    }
                }
            }

        }
    }

}