header{ position: sticky;
    top: 0;
    z-index: 2;
    .navbar{
        
        .container-fluid{
            
            .logo{
                    color: nth($colores, 1 );
                    font-size: 3.1rem;
                    text-decoration: none;
                    &:hover{
                        color: nth($colores , 2 );
                    }
            }
            div{
                div{
                    .nav-link{
                        font-size: 1.7rem;
                    }
                }
            }

        }
    }

}