.contenedorNosotros{
  @include nosotros (10px, flex, wrap, center);
}
.contenedorNosotros-item{
    text-align: center;
    width: 400px;
    margin: 10px auto;  
    padding: 10px; 
}
.imagenNosotros{
  width: 100%;
}
