.damas-imagen {
    width: 50%;
    -webkit-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
    box-shadow: 37px -22px 102px -47px rgba(0, 0, 0, 0.75);
    gap: 10px;
}

.titulo-damasCaballero{
    margin: 10px;
    text-align: center;
    
}