.contenedorItemTurnos{
    width: 90vw;
    margin: auto;
}
.itemTurno{
    margin: 10px;
    min-height: 70px;
    background-color: rgba(68, 218, 63, 0.342);
    border-radius: 50px;
    text-align: center;
}
.whatsappTurnos{
    width: 70px;
    height: 70px;
}