.marcas{
    @extend %flex;
    margin: 20px auto;
    background-color: nth($colores , 3 );

    .marcas-item{
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 100px;
        margin: 15px auto;
        display: flex;
        .marca-imagen{
            width: 160px;
        }

    }
}