.marcas{
    @extend %flex;
    margin: 30px auto;
    background-color: nth($colores , 3 );

    .marcas-item{
        margin: 20px;
        flex: wrap;
        .marca-imagen{
            width: 270px;
        }

    }
}