@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ---- font-family: 'Raleway', sans-serif; ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.disclaimer {
    display: none;
}
h1{
    font-family:'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(49, 47, 58);
    text-align: center;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(49, 47, 58);
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: rgb(49, 47, 58);
    padding: 10px;
}
h4{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(49, 47, 58);
}
body{
    width: 100%;
    background-color: white;
    min-height: 100vh;

@media screen and (max-width:350px) {
    h1{
        font: 2.4rem;
        font-weight: 400;
    }
    h2{
        font-size: 2.2rem;
        font-weight: 400;
    }
    h3{
        font-size: 1.9rem;
        font-weight: 400;
    }
    h4{
        font-size: 1.7rem;
        font-weight: 400;
    }
    .logo{
        font-size: 1rem;
    }
    .container{
        margin: auto;
    }
    .col{
        margin: auto;
    }
    .container-carousel{
        width: 100%;
    }
    .caja-checkbox{
        margin: 0px;
        padding: 0px;
    }
    

@media screen and (min-width:351px) and (max-width:990px) {
    h1{
        font-size: 2.7rem;
        font-weight: 500;
    }
    h2{
        font-size: 2.5rem;
        font-weight: 500;
    }
    h3{
        font-size: 2.1rem;
        font-weight: 500;
    }
    h4{
        font-size: 1.7rem;
        font-weight: 500;
    }
    .container-carousel{
        width: 100%;
    }   
    .logo{
        font-size: 2rem;
    }
 }
 }
 }